* { margin: 0; padding: 0; } /* in CSS, "*" means "all elements" - this makes it a "universal selector" */
ol, ul { list-style: none; margin: 0; }
ul li {margin: 0; padding: 0;}
article, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

:root{

/************************ Colour Library ************************/
/*Purple*/
--purple-50:  #F6F4FE;  --purple-100: #EEECFB;  --purple-200: #DFDBF9;  --purple-300: #C6BEF4;  --purple-400: #AA98ED;  --purple-500: #8C6FE3;
--purple-600: #7C50D7;  --purple-700: #6C3DC4;  --purple-800: #5A33A4;  --primary-purple-900: #4F2E8E;  --purple-950: #2E1A5B;
/*Gold*/
--gold-50:  #FFFAED;    --gold-100: #FFF3D5;    --gold-200: #FEE3AA;    --gold-300: #FDCD74;    --primary-gold-400: #FCB856;    --gold-500: #FA9315;
--gold-600: #EB770B;    --gold-700: #C35B0B;    --gold-800: #9A4712;    --gold-900: #7C3C12;    --gold-950: #431C07;
/*Navy*/
--navy-50:  #F0F3FE;    --navy-100: #DEE4FB;    --navy-200: #C4D1F9;    --navy-300: #9BB3F5;    --navy-400: #6C8CEE;    --navy-500: #4965E8;
--navy-600: #3448DC;    --navy-700: #2B35CA;    --navy-800: #292EA4;    --navy-900: #262C82;    --primary-navy-950: #222462;
/*Ivory*/
--primary-ivory-50:  #FAF8F0;   --ivory-100: #F5F1E0;   --ivory-200: #E9DFBF;   --ivory-300: #DBCA96;   --ivory-400: #CBAE6C;   --ivory-500: #C0994F;
--ivory-600: #B38543;   --ivory-700: #956A39;   --ivory-800: #785634;   --ivory-900: #62472D;   --ivory-950: #342416;
/*Grey*/
--grey-50:  #F6F7F9;    --grey-100: #ECEEF2;    --grey-200: #D5D8E2;    --grey-300: #B1B8C8;    --grey-400: #8691AA;    --grey-500: #677390;
--grey-600: #525B77;    --grey-700: #434A61;    --grey-800: #3A4052;    --grey-900: #343846;    --primary-grey-950: #2B2E3A;

/************************ Spacing Tokens ************************/
--spacing-null: 0px;
--spacing-xxs: 4px;
--spacing-xs: 8px;
--spacing-s: 16px;
--spacing-m: 24px;
--spacing-l: 32px;
--spacing-xl: 40px;
--spacing-xxl: 48px;
--spacing-3xl: 56px;
--spacing-4xl: 64px;
--spacing-5xl: 80px;

/************************ Radius Tokens ************************/
--radius-null: 0px; 
--radius-xs: 8px; 
--radius-s: 12px; 
--radius-m: 16px; 
--radius-l: 24px; 
--radius-xl: 32px; 
--radius-2xl: 64px; 

/************************ Typography Tokens *********************/
--font-sans: Inter, sans-serif; 
--font-serif: "Playfair Display", serif;
--font-style: normal; 
--font-size: 1em;
}

/******************* Typography *********************************/
h1 {font-family: var(--font-serif); font-size: 2.5em; font-style: normal; font-weight: 700; line-height: var(--spacing-xxl); 
    letter-spacing: -0.01em; color: var(--primary-purple-900); margin-bottom: var(--spacing-xxl);}
h2 {font-family: var(--font-serif); font-size: 2em; font-style: normal; font-weight: 700; line-height: var(--spacing-xl); 
    letter-spacing: -0.005em; color: var(--primary-purple-900); margin-bottom: var(--spacing-xl);}
h3 {font-family: var(--font-serif); font-size: 1.5em; font-style: normal; font-weight: 700; line-height: var(--spacing-l); 
    letter-spacing: 0em; color: var(--primary-navy-950); margin-bottom: var(--spacing-l);}
h4 {font-family: var(--font-sans); font-size: 1.25em; font-style: normal; font-weight: 700; line-height: var(--spacing-m); 
    letter-spacing: -0.01em; color: var(--primary-navy-950); margin-bottom: var(--spacing-m);}
p {font-family: var(--font-sans); font-size: 1em; font-style: normal; font-weight: 400; line-height: var(--spacing-m); 
    letter-spacing: 0em; color: var(--primary-grey-950); margin-bottom: var(--spacing-m);}
.caption {font-family: var(--font-sans); font-size: 0.75em; font-style: normal; font-weight: 400; line-height: var(--spacing-s); 
    letter-spacing: 0.02em; color: var(--primary-grey-950); margin-bottom: var(--spacing-s);}

/************************ Components ***************************/
a {color: var(--primary-grey-950); text-decoration: underline;}
a:hover {color: var(--gold-700); text-decoration: none;}
a:active {color: var(--primary-purple-900); text-decoration: underline; text-shadow: 0 4px 4px var(--purple-500); }

.main-nav-link {
  color: var(--primary-grey-950); 
  background: linear-gradient(var(--primary-purple-900),var(--primary-purple-900)); 
  background-repeat: no-repeat; background-position: 0 36px; background-size: 0 100%;
  display: block; width: fit-content; height: 40px; 
  font-family: var(--font-serif); font-size: 1.5em; font-style: normal; font-weight: 700; /* h3 */
  line-height: var(--spacing-l); letter-spacing: 0em; margin-bottom: var(--spacing-m); 
  text-align: center; text-decoration: none; transition: 0.5s;}
.main-nav-link:hover {
  color: var(--primary-grey-950); 
  background-size: 100% 100%; border-radius: var(--radius-xs); text-decoration: none; transition: 0.5s;}
.main-nav-link:active {
  color: var(--primary-grey-950); background: linear-gradient(var(--primary-gold-400),var(--primary-gold-400)); 
  background-size: 100% 100%; border-radius: var(--radius-xs); 
  background-position: 0 36px; background-repeat: no-repeat;
  text-decoration: none; text-shadow: none; transition: 0.5s;}

.btn-primary {
  display: block; width: fit-content; overflow: visible;
  font-family: var(--font-sans); font-size: 1em; font-weight: 600;
  color: var(--primary-purple-900); background-color: var(--primary-ivory-50); 
  margin: var(--spacing-l) var(--spacing-5xl); padding: var(--spacing-s) var(--spacing-l); 
  border: 2px solid var(--primary-purple-900); text-decoration: none; border-radius: var(--radius-l); }
.btn-primary:hover {
  color: var(--primary-ivory-50); background-color: var(--purple-600);
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25); text-decoration: none;}
.btn-primary:active { 
  color: var(--primary-ivory-50);background-color: var(--primary-purple-900); 
  box-shadow: 0 4px 4px 2px rgba(43, 46, 58, 0.30); text-decoration: none; text-shadow: none; }

.btn-secondary {
  display: block; width: fit-content; overflow: visible;
  font-family: var(--font-sans); font-size: 1em; font-weight: 600;
  color: var(--primary-grey-950); background-color: var(--primary-ivory-50); 
  border: 2px solid var(--gold-600); margin: var(--spacing-l) var(--spacing-5xl); 
  padding: var(--spacing-s) var(--spacing-l);
  text-decoration: none; border-radius: var(--radius-l); }
.btn-secondary:hover {
  color: var(--primary-grey-950); background-color: var(--gold-300);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); text-decoration: none;}
.btn-secondary:active { 
  color: var(--primary-ivory-50); background: var(--gold-800); border-color: var(--gold-800);
  box-shadow: 0 4px 4px 2px rgba(43, 46, 58, 0.30); text-decoration: none; text-shadow: none; }

.btn-icon { margin-right: var(--spacing-s); } 

.btn-primary-card {
  width: fit-content; display: block; overflow: visible; max-width: 50px; max-height: 60px; 
  padding: var(--spacing-s) var(--spacing-s);
  color: var(--primary-purple-900); background-color: var(--primary-ivory-50); 
  border-radius: var(--radius-s); border: 2px solid var(--primary-purple-900); 
  margin: var(--spacing-l) var(--spacing-5xl); }
.btn-primary-card:hover {
  color: var(--primary-ivory-50); background-color: var(--purple-600);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
.btn-primary-card:active { 
  color: var(--primary-ivory-50); background-color: var(--primary-purple-900);
  box-shadow: 0 4px 4px 2px rgba(43, 46, 58, 0.30); text-shadow: none; }  

.btn-secondary-card {
  width: fit-content; display: block; overflow: visible; max-width: 50px; max-height: 60px; 
  padding: var(--spacing-s) var(--spacing-s);
  color: var(--primary-grey-950); background-color: var(--primary-ivory-50);
  border-radius: var(--radius-s); border: 2px solid var(--gold-600); 
  margin: var(--spacing-l) var(--spacing-5xl); }
.btn-secondary-card:hover {
  color: var(--primary-grey-950); background-color: var(--gold-300);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); }
.btn-secondary-card:active { 
  color: var(--primary-ivory-50); background: var(--gold-800);
  border-color: var(--gold-800); box-shadow: 0 4px 4px 2px rgba(43, 46, 58, 0.30); text-shadow: none; }